<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<%= button_to 'View Search Terms', search_terms_path, method: :get %>

<hr />

<%= form_tag messages_path, method: :get, id: "search_form" do %>
  <%= text_field_tag :search, params[:search], id: "search_input" %>
  <%= submit_tag "Search" %>
<% end %>

<hr />

<%= link_to "New message", new_message_path %>

<hr />

<div id="messages">
  <%= render partial: 'messages_list', locals: { messages: @messages } %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const searchInput = document.getElementById("search_input");
    const textLength = searchInput.value.length;
    let searchTimeout = null;

    searchInput.focus();
    searchInput.setSelectionRange(textLength, textLength);

    searchInput.addEventListener("keyup", function() {
      clearTimeout(searchTimeout);
      fetchMessages(searchInput.value);
      searchTimeout = setTimeout(function() {
        document.getElementById("search_form").submit();
      }, 2000);
    });
  });

  function fetchMessages(query) {
    fetch(`/messages/fetch_messages?search=${encodeURIComponent(query)}`)
      .then(response => response.text())
      .then(html => {
      document.getElementById("messages").innerHTML = html;
    });
  }
</script>
